.carnivoros{
    background-color: darkred;
}
.herbivoros{
    background-color: lightgreen;
}
#trex{
    font-size: 24px;
    color: lightblue;
}
#triceratops{
    font-weight:bold;
    text-decoration: underline;
}
.voladores{
    text-shadow: 1px 1px 5px black;
}
.acuaticos h3{
    font-style: italic;
    color: blue;
}