body{
    background-color: #3D5A80;
    font-family: Verdana;
    color: #f7ede2;

}

h1{
    color: rgb(238, 108, 77);
}

h2{
    color: #E0FBFC;
}

li{
    color:#F2EDEB;
}

#bordeado{
    border: 3px solid white;
}

.aloha{
    background-color: #293241;
    color:white;
}

input{
    border: 2px dashed rgb(238, 108, 77);
}

div p{
    font-size: 150%;
    color:#98C1D9;
}

input[type="text"]{
    background-color: #7fc0e6;
}

a:visited{
    color: white;
}

div:nth-of-type(3) p{
    background-color: rgb(47, 47, 197);
}

div:nth-of-type(3) p:nth-of-type(2){
    border: 4px solid white;
}

div:nth-of-type(3) span{
    background-color: white;
}

input[type="checkbox"]:checked{
    margin-left: 60px;
}

label{
    text-transform: uppercase;
}

#ultimo::first-letter{
    background-color: orange;
}